<mat-card>
  <form [formGroup]="loginForm" #login="ngForm" (ngSubmit)="onSubmit(login)">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput type="email" placeholder="E-Mail" id="email" formControlName="email" required/>
      <mat-error>Please enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" id="password" formControlName="password" required/>
        <button mat-icon-button type="button" matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</mat-card>
