body {
  background: linear-gradient(to right, #cca06e, #6892a3);
}

h1 {
  text-align: center;
  font-size: 80px;
}

.Tabelle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

table,
td {
  border: 1px solid black;
  text-align: center;
}

.cont {
  height: 100px;
  position: relative;
  bottom: 20px;
}

.Buttondiv {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 35%;
}

.newApp {
  font-size: 30px;
  background-color: lightgrey;
}

.newApp:hover {
  background: rgb(180, 180, 180);
}

.container {
  display: block;
  position: relative;
  padding-left: 0;
  margin-bottom: 10px;
  cursor: pointer;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: black;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type="text"] {
  background: linear-gradient(to right, #cca06e, #6892a3);
}

footer p {
  text-align: center;
  padding: 3px;
  background: linear-gradient(to right, #cca06e, #6892a3);
  filter: brightness(80%);
  color: black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: lightgrey;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: darkgray;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background: linear-gradient(to right, #cca06e, #6892a3);
  color: white;
}

.modal-body {
  padding: 2px 16px;
}
